.main-content {
  grid-area: main-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: 10px;
}

.main-content-item {
  padding-top: 10px;
}

.main-img {
  width: 100%;
  height: 200px;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-and-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.avatar-container {
  width: 30%;
}

.avatar-container img {
  width: 90%;
  height: 90%;
}

.description-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.description p {
  margin-bottom: 0;
}
